dist: xenial

services:
  - docker
  - mongodb

language: python
install:
  - pip install tox
  - pip install tox-travis

script:
  - tox

jobs:
  include:
    - python: 3.6
    - python: 3.7
    - python: pypy3

    - stage: Deploy new release
      script: skip
      deploy:
        - provider: pypi
          distributions: sdist bdist_wheel
          skip_existing: true
          user: Lundberg
          password:
            secure: H5d+Its9YTMSvVddRWX2qgChMb8Eur5zI+qRy3NAPdwRNs1RNyIk1a2z9/EPFmRIu6OsBBDcHsCiq4VXcwvpigdAqMu4iAoZ/Xe0xf88k21GCggfaAPbINRVL6031RFUQkfGZ4abT2cXnerDylMv2DporPZkfCEUJonq+we0GmtJHoCSemXewMxt28TSu0aPKRL4aBfbuRoAPx50jUns9ekxgc0sqpSLvE5qyxWxXIePK0/+8tX3OrdCcKMg/IshgoK7Yondu+DhN+qhf+AkQuPDXUQTx/TKdg/YDVqj8SHT6hIFFi6dCakuhkYIKlkggnSguLhZ2zhVUjYFt1f0NOv2j7dHuKxyUFR9Qm/49rdY/E3ir3CU5YgUEprcgo/jj5K3B1/jY2uXNez1JD97RC6IAPg4o+PwenVQ9a3pLwqnImSaJKPTQf9IyFfrV/xru3ZyQiftmUmCYtCPybDATOq5iqNAQa9Ec0Mg54OGcabPQkNp9CrNFkcO0sM3VNRnGTmuqdYIkjNxPwNCzjbAQKlwcXVNg48kHjH6vb9D+mxjt9CYwCJdfkGm2F2pekr5S8tDdLAkxE9VW+r7SrsRaJRFCHU+6AaejnWvOLCy2S+KJ0JhQesJm0k1iT2fsC8v92MKIzghrY/sqKck33pxB57cFqxLIQIVYgCaBFWbwfc=
          on:
            tags: true
            repo: IdentityPython/pyop
      if: tag IS present
