<!doctype html>
<title>Logout</title>

Do you really want to logout?
<form method="POST">
    <button type="submit" name="logout" value="logout">Yes, logout</button>
    <button type="submit" name="no_logout" value="no_logout">No, cancel logout</button>
</form>